<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there,</h1>
    <p>
      We have recieved a request to change the password,
    </p>

    <br>

    <p>Use the verification code sent to change your password</p>
    <p>
      <%= @reset_key %>
    </p>
    <p>If this is not you, please ignore this</p>
  </body>
</html>